### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [72]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [73]:
### Create a series of variables for cleaner calculation

# Total number of schools
total_number_schools = school_data_complete_df["school_name"].nunique()

# Total students
total_students = school_data_complete_df["Student ID"].nunique()

# Total budget
total_budget = school_data_complete_df["budget"].sum()

# Average math score
average_math_score = school_data_complete_df["math_score"].mean()

# Average reading score
average_reading_score = school_data_complete_df["reading_score"].mean()

# Passing Math
passing_math = school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70]

# Percent passing math
percent_passing_math = (len(passing_math) / school_data_complete_df["math_score"].count()) * 100

# Passing Reading
passing_reading = school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70]

# Percent passing reading
percent_passing_reading = (len(passing_reading) / school_data_complete_df["reading_score"].count()) * 100

# Percent passing math AND reading
percent_passing_math_AND_reading = (len(school_data_complete_df[(school_data_complete_df["math_score"]>=70) & (school_data_complete_df["reading_score"]>=70)]) / school_data_complete_df["reading_score"].count()) * 100

district_summary_df = pd.DataFrame({
    "Total Number of Schools": [total_number_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "Percent Passing Math": [percent_passing_math],
    "Percent Passing Reading": [percent_passing_reading],
    "Percent Passing Math & Reading": [percent_passing_math_AND_reading]
})

# Better formatting
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,.0f}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["Percent Passing Math"] = district_summary_df["Percent Passing Math"].map("{:.1f}%".format)
district_summary_df["Percent Passing Reading"] = district_summary_df["Percent Passing Reading"].map("{:.1f}%".format)
district_summary_df["Percent Passing Math & Reading"] = district_summary_df["Percent Passing Math & Reading"].map("{:.1f}%".format)
district_summary_df

,Total Number of Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Math & Reading
0,15,"39,170","$82,932,329,558.00",79.0,81.9,75.0%,85.8%,65.2%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [74]:

### Create a series of variables for cleaner calculation

# Index on school name and type
school_types = school_data.set_index(["school_name"])["type"]

#Total students per school
students_per_school = school_data_complete_df["school_name"].value_counts()

#Total budget per school
budget_per_school = school_data_complete_df.groupby(["school_name"])["budget"].mean()

#Budget per student
budget_per_student = budget_per_school/students_per_school

#Average math score per school
average_math_per_school = school_data_complete_df.groupby(["school_name"])["math_score"].mean()

#Average reading score per school
average_reading_per_school = school_data_complete_df.groupby(["school_name"])["reading_score"].mean()

# Get a new dataframe for only passing math scores
passing_math_per_school_df = school_data_complete_df.loc[school_data_complete_df["math_score"]>=70]

# Get the counts of passing math scores per school
count_of_passing_math_per_school = passing_math_per_school_df["school_name"].value_counts()

# Get the percentage passing math per school
percent_passing_math_per_school = (count_of_passing_math_per_school / students_per_school) * 100

# Get a new dataframe for only passing reading scores
passing_reading_per_school_df = school_data_complete_df.loc[school_data_complete_df["reading_score"]>=70]

# Get the counts of passing reading scores per school
count_of_passing_reading_per_school = passing_reading_per_school_df["school_name"].value_counts()

# Get the percentage passing reading per school
percent_passing_reading_per_school = (count_of_passing_reading_per_school / students_per_school) * 100

# Percentage of students passing math AND reading per school
percent_passing_math_AND_reading_per_school = ((count_of_passing_math_per_school + count_of_passing_reading_per_school) / students_per_school) * 100

# Create a dataframe to hold the school summary
school_summery_df = pd.DataFrame({  
    "School Type": school_types, 
    "Total Students": students_per_school, 
    "Total School Budget": budget_per_school,
    "Per Student Budget": budget_per_student,
    "Average Math Score": average_math_per_school,
    "Average Reading Score": average_reading_per_school,
    "% Passing Math": percent_passing_math_per_school, 
    "% Passing Reading": percent_passing_reading_per_school,
    "% Overall Passing": percent_passing_math_AND_reading_per_school
})
school_summery_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,148.613344
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,191.173305
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,146.727704
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,147.608616
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,190.531335
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,147.615965
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,188.758782
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,147.000343
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,147.279983
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,190.540541
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,146.586647
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,189.721749
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,190.581040
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,190.407359
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,189.944444

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [75]:
# sort descending
top_performaing_schools_df = school_summery_df.sort_values(["% Overall Passing"], ascending=False)
top_performaing_schools_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,191.173305
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,190.581040
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,190.540541
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,190.531335
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,190.407359
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,189.944444
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,189.721749
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,188.758782
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,148.613344
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,147.615965
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,147.608616
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,147.279983
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,147.000343
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,146.727704
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,146.586647

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [76]:
# sort ascending
bottom_performaing_schools_df = school_summery_df.sort_values(["% Overall Passing"])
bottom_performaing_schools_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,146.586647
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,146.727704
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,147.000343
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,147.279983
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,147.608616
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,147.615965
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,148.613344
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,188.758782
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,189.721749
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,189.944444
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,190.407359
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,190.531335
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,190.540541
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,190.581040
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,191.173305

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [77]:
### Create variables

# Create new dataframe for only 9th grade scores
ninth_grade_df = school_data_complete_df.loc[school_data_complete_df["grade"] == "9th"].groupby(["school_name"])

# Get the ninth grade math scores
ninth_grade_math = ninth_grade_df["math_score"].mean()

# Create new dataframe for only 10th grade scores
tenth_grade_df = school_data_complete_df.loc[school_data_complete_df["grade"] == "10th"].groupby(["school_name"])

# Get the tenth grade math scores
tenth_grade_math = tenth_grade_df["math_score"].mean()

# Create new dataframe for only 11th grade scores
eleventh_grade_df = school_data_complete_df.loc[school_data_complete_df["grade"] == "11th"].groupby(["school_name"])

# Get the eleventh grade math scores
eleventh_grade_math = eleventh_grade_df["math_score"].mean()

# Create new dataframe for only 12th grade scores
twelfth_grade_df = school_data_complete_df.loc[school_data_complete_df["grade"] == "12th"].groupby(["school_name"])

# Get the twelfth grade math scores
twelfth_grade_math = twelfth_grade_df["math_score"].mean()

# Create a dataframe to hold the math scores by grade and map formatting inline
math_scores_by_grade = pd.DataFrame({   
    "9th Grade": ninth_grade_math.map("{:.1f}".format),
    "10th Grade": tenth_grade_math.map("{:.1f}".format),
    "11th Grade": eleventh_grade_math.map("{:.1f}".format),
    "12th Grade": twelfth_grade_math.map("{:.1f}".format)
})

math_scores_by_grade

                      9th Grade 10th Grade 11th Grade 12th Grade
school_name
Bailey High School         77.1       77.0       77.5       76.5
Cabrera High School        83.1       83.2       82.8       83.3
Figueroa High School       76.4       76.5       76.9       77.2
Ford High School           77.4       77.7       76.9       76.2
Griffin High School        82.0       84.2       83.8       83.4
Hernandez High School      77.4       77.3       77.1       77.2
Holden High School         83.8       83.4       85.0       82.9
Huang High School          77.0       75.9       76.4       77.2
Johnson High School        77.2       76.7       77.5       76.9
Pena High School           83.6       83.4       84.3       84.1
Rodriguez High School      76.9       76.6       76.4       77.7
Shelton High School        83.4       82.9       83.4       83.8
Thomas High School         83.6       83.1       83.5       83.5
Wilson High School         83.1       83.7       83.2       83.0
Wright High School         83.3       84.0       83.8       83.6

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [78]:
### Create variables

# Create new dataframe for only 9th grade scores
ninth_grade_df = school_data_complete_df.loc[school_data_complete_df["grade"] == "9th"].groupby(["school_name"])

# Get the ninth grade reading scores
ninth_grade_reading = ninth_grade_df["reading_score"].mean()

# Create new dataframe for only 10th grade scores
tenth_grade_df = school_data_complete_df.loc[school_data_complete_df["grade"] == "10th"].groupby(["school_name"])

# Get the tenth grade reading scores
tenth_grade_reading = tenth_grade_df["reading_score"].mean()

# Create new dataframe for only 11th grade scores
eleventh_grade_df = school_data_complete_df.loc[school_data_complete_df["grade"] == "11th"].groupby(["school_name"])

# Get the eleventh grade reading scores
eleventh_grade_reading = eleventh_grade_df["reading_score"].mean()

# Create new dataframe for only 12th grade scores
twelfth_grade_df = school_data_complete_df.loc[school_data_complete_df["grade"] == "12th"].groupby(["school_name"])

# Get the twelfth grade reading scores
twelfth_grade_reading = twelfth_grade_df["reading_score"].mean()

# Create a dataframe to hold the reading scores by grade and map formatting inline
reading_scores_by_grade = pd.DataFrame({   
    "9th Grade": ninth_grade_reading.map("{:.1f}".format),
    "10th Grade": tenth_grade_reading.map("{:.1f}".format),
    "11th Grade": eleventh_grade_reading.map("{:.1f}".format),
    "12th Grade": twelfth_grade_reading.map("{:.1f}".format)
})

reading_scores_by_grade

                      9th Grade 10th Grade 11th Grade 12th Grade
school_name
Bailey High School         81.3       80.9       80.9       80.9
Cabrera High School        83.7       84.3       83.8       84.3
Figueroa High School       81.2       81.4       80.6       81.4
Ford High School           80.6       81.3       80.4       80.7
Griffin High School        83.4       83.7       84.3       84.0
Hernandez High School      80.9       80.7       81.4       80.9
Holden High School         83.7       83.3       83.8       84.7
Huang High School          81.3       81.5       81.4       80.3
Johnson High School        81.3       80.8       80.6       81.2
Pena High School           83.8       83.6       84.3       84.6
Rodriguez High School      81.0       80.6       80.9       80.4
Shelton High School        84.1       83.4       84.4       82.8
Thomas High School         83.7       84.3       83.6       83.8
Wilson High School         83.9       84.0       83.8       84.3
Wright High School         83.8       83.8       84.2       84.1

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [79]:
# Create a new dataframe with only the columns we want to consider
school_summary_by_spending_df = school_summery_df.drop(columns=["School Type","Total Students","Total School Budget","Per Student Budget"])
school_summary_by_spending_df['Average Budget per Student'] = budget_per_student
new_order=[5,4,0,1,2,3]
school_summary_by_spending_df = school_summary_by_spending_df[school_summary_by_spending_df.columns[new_order]]

# Create bins
spending_bins = [0, 585, 615, 645, 675]
spending_group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

# Cut the data
school_summary_by_spending_df["Spending Ranges"] = pd.cut(school_summary_by_spending_df["Average Budget per Student"], spending_bins, labels=spending_group_names)
scores_by_spending_df = school_summary_by_spending_df.groupby("Spending Ranges")

# Format data
school_summary_by_spending_df["Average Budget per Student"] = school_summary_by_spending_df["Average Budget per Student"].map("${:,.2f}".format)
scores_by_spending_df.max()

,Average Budget per Student,% Overall Passing,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
Spending Ranges,,,,,,
<$585,$583.00,191.173305,83.803279,83.989488,94.133477,97.039828
$585-615,$609.00,190.540541,83.839917,84.044699,94.594595,95.945946
$615-645,$644.00,190.581040,83.418349,83.848930,93.392371,97.308869
$645-675,$655.00,147.615965,77.289752,81.182722,66.752967,81.316421

## Scores by School Size

* Perform the same operations as above, based on school size.

In [80]:
# Create a new dataframe with only the columns we want to consider
school_summary_by_size_df = school_summery_df.drop(columns=['School Type','Total School Budget','Per Student Budget'])

# Create bins
size_bins = [0, 1000, 2000, 5000]
size_group_names = ["<1000", "1000-2000", "2000-5000"]

# Cut the data
school_summary_by_size_df["Size Ranges"] = pd.cut(school_summary_by_size_df["Total Students"], size_bins, labels=size_group_names)
scores_by_size_df = school_summary_by_size_df.groupby("Size Ranges")

scores_by_size_df.max()

,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Size Ranges,,,,,,
<1000,962,83.839917,84.044699,94.594595,96.252927,190.540541
1000-2000,1858,83.682222,83.975780,94.133477,97.308869,191.173305
2000-5000,4976,83.274201,83.989488,93.867718,96.539641,190.407359

## Scores by School Type

* Perform the same operations as above, based on school type

In [83]:
### Create variables
school_summary_types = school_data_complete_df.groupby(["type"])

students_by_type = school_summary_types["Student ID"].count()
average_math_by_type = school_summary_types["math_score"].mean()
average_reading_by_type = school_summary_types["reading_score"].mean()

passing_math_index = passing_math.set_index(['type'])
passing_math_by_type = passing_math_index.groupby(['type'])
total_passing_math_by_type = passing_math_by_type["math_score"].count()
percent_passing_math_by_type = total_passing_math_by_type/students_by_type

passing_reading_index = passing_reading.set_index(['type'])
passing_reading_by_type = passing_reading_index.groupby(['type'])
total_passing_reading_by_type = passing_reading_by_type["math_score"].count()
percent_passing_reading_by_type = total_passing_reading_by_type/students_by_type

passing_math_AND_reading_by_type = (percent_passing_math_by_type + percent_passing_reading_by_type)/2

# Create dataframe to hold scores and map formatting inline
school_summary_by_type_df = pd.DataFrame({
    "Total Students": students_by_type,
    "% Overall Passing": (passing_math_AND_reading_by_type * 100).map("{:.1f}%".format),
    "Average Math Score": average_math_by_type.map("{:.1f}".format),
    "Average Reading Score": average_reading_by_type.map("{:.1f}".format),
    "% Passing Math": (percent_passing_math_by_type*100).map("{:.1f}%".format),
    "% Passing Reading": (percent_passing_reading_by_type*100).map("{:.1f}%".format)
})

school_summary_by_type_df

,Total Students,% Overall Passing,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
type,,,,,,
Charter,12194,95.2%,83.4,83.9,93.7%,96.6%
District,26976,73.7%,77.0,81.0,66.5%,80.9%